@import "//fonts.googleapis.com/css?family=Cutive";
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cutive", serif;
  font-size: 1rem;
  line-height: 1.4;
  color: #222;
  background-color: #ededed;
  -webkit-transition: background-color 150ms ease-out, color 150ms ease-out;
  transition: background-color 150ms ease-out, color 150ms ease-out;
}

.dark {
  color: #ededed;
  background-color: #222;
}

/*a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:focus, a:hover {
  -webkit-box-shadow: inset 0 -8px 0 #c92b2b;
          box-shadow: inset 0 -8px 0 #c92b2b;
}

p {
  opacity: .6;
  margin: 0 0 .6rem 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
p:hover {
  opacity: 1;
}*/

.scene {
  padding: 6rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.actor {
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.actor:last-of-type {
  margin-bottom: 6rem;
}

.actor__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actor__content--typing::after {
  content: '|';
  -webkit-animation: blink 500ms infinite;
          animation: blink 500ms infinite;
}


.contact {
  position: relative;
  width: 20em;
  margin: -1em auto 1.5em auto;
}

.contact a {
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  width: 2em;
  line-height: 2em;
  margin: 0 .20em;
  color: #555;
  font-size: 1.5em;
  transition: background-color .2s ease-in-out;
  border-radius: 50%;
  animation: icons .2s ease-out 0s 1 normal forwards;
}

.auth {
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  transition: background-color .2s ease-in-out;
  animation: icons .2s ease-out 0s 1 normal forwards;

}

@keyframes icons {
  0%    { transform: translateY(3em); opacity: 0; }
  70%   { transform: translateY(-.5em); opacity: 1; }
  100%  { transform: translateY(0em); opacity: 1; }
}

.contact a:nth-child(1) { animation-delay: 2.5s; }
.contact a:nth-child(2) { animation-delay: 2.55s; }
.contact a:nth-child(3) { animation-delay: 2.6s; }
.contact a:nth-child(4) { animation-delay: 2.65s; }
.contact a:hover { color: #39F; }

.auth { 
  animation-delay: 2.0s; 
}